*{margin: 0px; padding: 0px; outline: 0px}
body{font-family:verdana; font-size: 18px; color: #444}
.wrapper{width: 800px; margin: 0 auto}
.clr{overflow: hidden;}
.headsection, .footsection{background: #ddd; padding: 10px; text-align: center}
.headsection h2, .footsection h2{}
.content{border: 15px solid #ddd; min-height: 500px;}
.box{border: 5px solid #bbb; margin: 30px auto 0; padding: 20px; width: 600px; height: 200px; overflow: scroll;}
.box ul{margin: 0; padding: 0; list-style: none;}
.box ul li{display: block; border-bottom: 1px dashed #ddd; margin-bottom: 5px; padding-bottom: 5px;}
.box ul li:last-child{border-bottom: 0px dashed #ddd; margin-bottom: 0px; padding-bottom: 0px;}
.box span{color: #888;}
.success{color: green; display: block; font-size: 18px; margin-top: 5px; margin-bottom: 7px;}
.error{color: red; display: block; font-size: 18px; margin-top: 0px; margin-bottom: 10px;}

.shoutform{border: 5px solid #bbb; margin: 25px auto 10px; padding: 20px; width: 600px;}

input[type="text"]{padding: 4px; width: 500px; margin-bottom: 4px;}
input[type="submit"]{background: #666; border: 1px solid #444; color:#fff; cursor: pointer; font-size: 22px; padding: 5px 15px; font-family:verdana;}

